@{
    /**/

    Layout = "~/_Layout.cshtml";
    Page.Title = "Exercise02";

    var formButton = Request.Form["formButton"];
    var yourtextvalue = Request.Form["searchArg"];
    var partialString = "%" + yourtextvalue + "%";
    var queryPartialCommand = "SELECT ArtistId, Name FROM Artists WHERE Name like @0 ORDER BY Name";


    var db = Database.Open("Chinook");


    var queryCommandFull = "SELECT ArtistId, Name FROM Artists ORDER BY Name";
    var queryResults = db.Query(queryCommandFull);


    var artistList = Request.Form["artistList"];



    if (yourtextvalue.IsEmpty())
    {

        queryResults = db.Query(queryCommandFull);
    }
    else
    {
        queryResults = db.Query(queryPartialCommand, partialString);
    }

}





@section head{
    <link href="~/Content/MyCustomStyles.css" rel="stylesheet" />
}
@section banner{
    <h1>Exercise 2: Database Query</h1>
}
    <div>
        @if (IsPost)
        {
            try
            {
                if (formButton.Equals("search"))
                {
                    if (yourtextvalue.IsEmpty())

                    {
                        <p><span style="color:firebrick">Please enter an artist (or part of a name) for the search.</span></p>
                    }
                    else
                    {
                        if (queryResults.Count() == 0)
                        {
                            <p><span style="color:firebrick">No artist found for the name of @yourtextvalue</span></p>
                        }
                        else
                        {
                            <p><span style="color:green">artist found for the name of @yourtextvalue</span></p>
                        }

                    }
                }
                else if (formButton.Equals("fetch"))
                {
                    if (yourtextvalue.IsEmpty())

                    {
                        <p><span style="color:firebrick">Please enter an artist (or part of a name) for the search.</span></p>
                    }
                    else
                    {
                        Response.Redirect("Exercise02_B.cshtml?artistid=" + artistList);

                    }

                }

            }
            catch (Exception ex)
            {
                <p><strong> @ex.Message </strong></p>
            }
        }


        <form id="theForm" action="" method="post">
            <div class="row">
                <div class="col-sm-3">
                    <label id="forSearchArg">Enter an artist name:</label> &nbsp;&nbsp;
                    <input type="text" name="SearchArg" id="searchArgID"
                           value="@yourtextvalue" /><br /><br />


                    <button type="submit" name="formButton" id="formbuttonid" class="btn btn-primary" value="search"> Fetch Artists </button>

                </div>
                <div class="col-sm-3">
                    <label id="forArtistList">Select your artist:</label><br />
                    <select name="artistList">
                        <option value="0">Select...</option>

                        @foreach (var item in queryResults)
                        {
                            <option value="@item.ArtistId">@item.Name</option>
                        }

                    </select><br /><br />

                    <button type="submit" name="formButton" id="formbuttonid" class="btn btn-primary" value="fetch"> Fetch Albums </button>
                    &nbsp;&nbsp;


                </div>


            </div>


        </form>


    </div>
