@{
    /**/


    Layout = "~/_Layout.cshtml";
    Page.Title = "Exercise03";

    var thebutton = Request.Form["formButton"];

    //variables to hold values for the Product record fields
    var Title = "";
    var Name = "";
    var ReleaseYear = "";
    var Releaselabel = "";
    var clear = "";

    var db = Database.Open("Chinook");

    var artCommand = "Select ArtistID, Name "
                    + "From Artists "
                    + "Order By Name";
    var artResults = db.Query(artCommand);


    Validation.Add("Title",
        Validator.Required("Title is a required field."),
        Validator.StringLength(160, 1, "Title has more than 160 characters"));
    Validation.Add("Name",
        Validator.Range(0, int.MaxValue, "Artist name is required"));
    Validation.Add("ReleaseYear",
        Validator.Range(1950, int.MaxValue, "Year range must be between 1950 and today"));
    Validation.Add("ReleaseLabel",
        Validator.StringLength(50, 1, "Label has more than 50 characters"));



}
@section head{
    <link href="~/Content/MyCustomStyles.css" rel="stylesheet" />
}

@section banner{

    <h1>Exercise 3: Database Entry</h1>
}

@if (IsPost)
{

    if (thebutton.Equals("reset"))
    {

        clear = "";
    }
    else
    {
        
        Title = Request.Form["Title"];
        Name = Request.Form["ArtistID"];
        ReleaseYear = Request.Form["ReleaseYear"];
        Releaselabel = Request.Form["ReleaseLabel"];



        if (Validation.IsValid())
        {

            try
            {

                var insertcommand = "INSERT INTO Albums (Title, ArtistId, ReleaseYear, ReleaseLabel) "
                            + "VALUES(@0, @1, @2, @3)";

               

                db.Execute(insertcommand, Title,
                Name.Equals("0") ? null : Name,
                ReleaseYear.Equals("0") ? null : ReleaseYear,
                string.IsNullOrEmpty(Releaselabel) ? null : Releaselabel,
                0
                );



                <p class="col-sm-11 text-center">
                    <span style="color:green">
                        <strong>
                            New Album added
                        </strong>
                    </span>
                </p>
            }
            catch (Exception ex)
            {
                <p class="col-sm-11 text-center">
                    <span style="color:firebrick">
                        <strong>
                            @ex.Message
                        </strong>
                    </span>
                </p>
            }
        }
    }
}
@Html.ValidationSummary()
<form id="theForm" method="post">
    <div class="row ">
        <div class="col-sm-5 text-right">
            <label id="Title">Title:</label><br />
            <label id="ArtistID">Artist:</label><br />
            <label id="ReleaseYear">Year:</label><br />
            <label id="ReleaseLabel">Label</label><br />
        </div>
        <div class="col-sm-5">
            <!-- the title attribute creates the tooltip for the control-->
            <input name="Title" id="Title" type="text" value="@Title"
                   title="Title." />
            @Html.ValidationMessage("Title")
            <br />
            <select id="ArtistID" name="ArtistID">
                <option value="0">select ...</option>
                <!--  loop code here-->
                @foreach (var artitem in artResults)
                {
                    //maintain the selected item in the list
                    //   between postings
                    if (artitem[0].ToString() == Name)
                    {
                        <option value="@artitem[0]" selected>
                            @artitem[1]
                        </option>
                    }
                    else
                    {
                        <option value="@artitem[0]">
                            @artitem[1]
                        </option>
                    }
                }
            </select><br />
   
            <input name="ReleaseYear" id="ReleaseYear" type="text"
                   value="@ReleaseYear" /><br />
            <input name="ReleaseLabel" id="ReleaseLabel" type="text"
                   value="@Releaselabel" /><br />
          
        </div>
    </div>
    <div class="row">
        <div class="col-sm-11 text-center">
            <button type="submit" name="formButton" value="submit"
                    class="btn btn-primary" style="width:90px">
                Add
            </button>&nbsp;&nbsp;
            @* the attribute formnovalidate suppress validation on the
                button activation *@
            <button type="submit" name="formButton" value="reset"
                    class="btn " style="width:90px"
                    formnovalidate>
                Clear
            </button>
        </div>
    </div>
</form>
@section footer{
    &copy; CPSC1517 Nait, all rights reserved
}

